<!DOCTYPE html>

<html><head>

	<title>JAVASCRIPT TEST</title>
	<meta charset="utf-8"/>


</head><body>

	<p>Please input grade: </p>
	<input type="text" id="demo1"/>
	<input type="button" onclick="getStatus()" value="get Status"/>
	<input type="button" onclick="guessNumber()" value="guess a number"/>
	<div id="message"></div>
	
	<a href="javascript:void(document.body.style.backgroundColor='black');">click Me!</a>
	
	<script>
		function getStatus(){
			var grade= document.get
			var status
			document.getElementbyId("message").innerHTML=status;
		}
		function guessNumber(){
			var guess = Math.floor((Math.random()*100)+1);
			var x = prompt("Enter a number");
			
			while(true){
			try{
				if((x=="") || (isNaN(x))){x=prompt("Enter a number");}
				else{
					x = Number(x);
					if(x<guess){x=prompt("Higher!");}
					else if(x>guess){x=prompt("Lower!");}
					else{alert("Correct!");break;}
				}
			continue;
			}catch(err){alert("Input is "+ err);}
			finally{}
			}
		}
	</script>
</body></html

